* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.u-wrapper {
  max-width: 1440px;
  padding: 0 10px;
  margin: 0 auto;
  display: inherit;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
  * Address Firefox 3+ setting `line-height` on `input` using `!important` in
  * the UA stylesheet.
  */
button,
input {
  line-height: normal;
}

/**
  * Address inconsistent `text-transform` inheritance for `button` and `select`.
  * All other form control elements do not inherit `text-transform` values.
  * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
  * Correct `select` style inheritance in Firefox 4+ and Opera.
  */
button,
select {
  text-transform: none;
}

/**
  * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
  *    and `video` controls.
  * 2. Correct inability to style clickable `input` types in iOS.
  * 3. Improve usability and consistency of cursor style between image-type
  *    `input` and others.
  * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
  *    Known issue: inner spacing remains in IE 6.
  */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
  * Re-set default cursor for disabled elements.
  */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
  * 1. Address box sizing set to content-box in IE 8/9.
  * 2. Remove excess padding in IE 8/9.
  * 3. Remove excess padding in IE 7.
  *    Known issue: excess padding remains in IE 6.
  */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
  * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
  * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
  *    (include `-moz` to future-proof).
  */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
  * Remove inner padding and search cancel button in Safari 5 and Chrome
  * on OS X.
  */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
  * Remove inner padding and border in Firefox 3+.
  */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
  * 1. Remove default vertical scrollbar in IE 6/7/8/9.
  * 2. Improve readability and alignment in all browsers.
  */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
  * Remove most spacing between table cells.
  */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?26ic8u");
  src: url("../fonts/icomoon.eot?26ic8u#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?26ic8u") format("truetype"), url("../fonts/icomoon.woff?26ic8u") format("woff"), url("../fonts/icomoon.svg?26ic8u#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
}

.icon-right:before {
  content: "\ea42";
}

.icon-left:before {
  content: "\ea44";
}

.c-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 40px;
  background: #111D35;
}

.c-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
}

.c-header__item {
  margin-right: 24px;
}

.c-header__link {
  color: #fff;
  text-decoration: none;
}

.c-header__link:hover {
  color: #14B14B;
}

.c-header__burger {
  display: none;
  position: fixed;
  top: 5px;
  right: 5px;
  background: #14B14B;
  color: #111D35;
  font-size: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.c-hero {
  background: url("../img/background.png");
  background-position: center;
  background-size: cover;
  min-height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-hero__image {
  width: 500px;
}

.c-hero__text {
  max-width: 960px;
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
}

.c-hero__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 2fr;
      grid-template-columns: 5fr 2fr;
  width: 37%;
}

.c-hero__input {
  background: rgba(196, 196, 196, 0.8);
  border: none;
  padding: 16px 32px;
  border-radius: 10px 0 0 10px;
  outline: none;
  -webkit-transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
}

.c-hero__input::-webkit-input-placeholder {
  color: white;
  font-weight: 700;
}

.c-hero__input:-ms-input-placeholder {
  color: white;
  font-weight: 700;
}

.c-hero__input::-ms-input-placeholder {
  color: white;
  font-weight: 700;
}

.c-hero__input::placeholder {
  color: white;
  font-weight: 700;
}

.c-hero__input:focus {
  background: #e0e0e0;
}

.c-hero__button {
  background: #14B14B;
  padding: 16px;
  border: none;
  border-radius: 0 10px 10px 0;
  color: white;
  outline: none;
  -webkit-transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
  font-weight: 700;
}

.c-hero__button:hover {
  background: #12a345;
}

.c-strategy {
  background: #111D35;
  color: #fff;
  margin: 20px 0;
  padding: 85px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-strategy__title {
  font-size: 2em;
  font-weight: 700;
  margin: 0;
}

.c-strategy__description {
  font-weight: 300;
  font-size: 1.1875em;
  max-width: 70%;
  text-align: center;
}

.c-air__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.c-mission {
  background: #F3F3F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 30px 0;
  margin: 20px 0;
}

.c-mission__side {
  width: 41%;
}

.c-mission__title {
  font-size: 2em;
  text-align: center;
  margin: 0;
  font-weight: 700;
}

.c-mission__description {
  font-weight: 300;
}

.c-work {
  background: #111D35;
  color: #fff;
  padding: 40px 0;
}

.c-work__title {
  font-size: 2em;
  text-align: center;
}

.c-work__sides-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-work__side {
  width: 49%;
  height: 500px;
  background: #F3F3F3;
  color: #111D35;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-gallery {
  width: 80%;
  height: 80%;
  position: relative;
}

.c-gallery__image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.c-gallery__button {
  position: absolute;
  top: 45%;
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 50%;
  background: #E9E9E9;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  font-size: 34px;
  outline: none;
  -webkit-transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s;
  border: 1px solid transparent;
}

.c-gallery__button:active {
  background: #d0d0d0;
  -webkit-transform: scale(0.93);
          transform: scale(0.93);
}

.c-gallery__button--right {
  right: -25px;
}

.c-gallery__button--left {
  left: -25px;
}

.c-gallery__arrow {
  margin: 0;
}

.c-partners {
  background: #F3F3F3;
  padding: 28px 0;
  margin: 24px 0;
}

.c-partners__title {
  color: #5a5a5a;
  font-weight: 300;
  margin: 0;
  text-align: center;
  margin-bottom: 24px;
}

.c-partners__image-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (146px)[3];
      grid-template-columns: repeat(3, 146px);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}

.c-partners__image {
  max-width: 100%;
  max-height: 66px;
}

.c-footer {
  background: #111D35;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

.c-footer__image {
  width: 200px;
}

.c-footer__link {
  color: #fff;
  text-decoration: none;
  margin-left: 50px;
}

.c-footer__link:hover {
  color: #14B14B;
}
/*# sourceMappingURL=style.css.map */