$white: #fff;
$primary: #111D35;
$accent: #14B14B;

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

//* SECTION UTILS
@import './utils/wrapper';
@import './utils/reset';

//* SECTION components
@import './components/header';
@import './components/hero';
@import './components/strategy';
@import './components/air';
@import './components/mission';
@import './components/work';
